@charset "UTF-8";
body{
    background-image:url("https://drive.google.com/uc?id=1RuNm1h53xH6fgwx8I7mjBrxhttn10SnA");
    background-size:cover;
}
.omikuji_result{
  position: relative;
  background: #ffee57; /*背景色*/
  /*width: 500;
  height: 2000;*/
  box-shadow: 0px 0px 10px 10px #fff0cd;
  /*border: dashed 2px white;*/
  /*border: blue;*/
  border: solid 3px rgba(0, 0, 255, 0.493);
  padding: 0.2em 1em;
  color: #454545; /*文字色*/
  /*グラデーション背景background   : linear-gradient(to bottom, #ffff99, #ffa64d);*/
  }

.omikuji_result2{
  color: gold;
}
  