@charset "UTF-8";
body{
    background-image:url("https://drive.google.com/uc?id=1RuNm1h53xH6fgwx8I7mjBrxhttn10SnA");
    background-size:cover;
}
.omikuji_daisi{
  position: relative;
  background: #ffee57; /*背景色*/
  box-shadow: 0px 0px 10px 10px #fff0cd;
  border: solid 3px rgba(0, 0, 255, 0.493);
  padding: 0.2em 1em;
  margin       : auto;
  width        : 50%;
  height       : 250%;
/*  position: absolute;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  /*border: dashed 2px white;*/
  /*border: blue;*/
   /*グラデーション背景background   : linear-gradient(to bottom, #ffff99, #ffa64d);*/
}
.omikuji_result{
  color: #454545; /*文字色*/
  font-size: 500%;
  writing-mode: vertical-rl;
  margin: 0 auto;
 }
.omikuji_result2{
  color: #454545;
  text-align: center;
  font-size: 120%;
  writing-mode: vertical-rl;
  margin: 0 auto;
}
.omikuji_result3{
  color:#454545;
  text-align: center;
  font-size: 120%;
  writing-mode: vertical-rl;
  margin: 0 auto;
}
  